
footer {
    background: $dandelion;
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: $twilightBlue;
        margin: 0;
        padding: 0.6rem 0;
        text-align: center;
        text-transform: capitalize;
        
    }
}