
html {
    background: $iceBlue;
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.home {
    background: url("../assets/home-header.jpg");
    height: 90vh;
    background-size: cover;
    
    nav, 
    h1 {
        width: 50%;
    }

    h1 {
        padding-top: 15rem;
        color: $dandelion;
    }
}




.snapshot {
    position: relative;
}
.specialImage {
    width: 55%;
    position: absolute;
    bottom: -2.8rem;
    right: 0;
}

.descriptionArea {
    margin-top: 10rem;
    display: flex;
    color: $twilightBlue;

}

.descriptionArea p {
    margin: 0.5rem 0 3rem 3.5rem ;
}

.descriptionSubHead {
    display: flex;
    align-items: center;

}

.descriptionSubHead h2 {
    margin: 0rem 1rem;
}

.aboutIcon {
    background: $dandelion;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding-top: 0.8rem;
    border-radius: 50%;
}

.programLocation {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8rem;
    margin-top: 6rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    background: $twilightBlue;
}

.programLocation h3,
.programLocation p {
    color: $white;
}


.programLocationLeft,
.programLocationRight {
    display: flex;
    flex-flow: column nowrap;
}

.ourPrograms {
    margin-left: 5rem;
    width: 75%;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
}


.newLocations {
    margin-right: 4rem;
    width: 75%;
    text-align: right;
    margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.programImage, 
.locationImage {
    width: 86%;
    position: relative;
}

.programImage {
    align-self: flex-start;
    top: -1.4rem;
}

.programImage img {
    box-shadow: 1rem 1rem $dandelion;
}
.locationImage {
    align-self: flex-end;
    bottom: -3.5rem;
}

.locationImage img {
    box-shadow: -1rem 1rem $dandelion;
}

.extraDays {
    text-align: center;
}

.extraDays img {
    margin-top: 6rem;
}

.ourPrograms p,
.newLocations p,
.extraDaysContent p,
.winTripContent p {
    margin-bottom: 2.5rem;
}

.winTrip {
    display: flex;
    flex-flow: row wrap;
}

.winTripImage  {
    width: 25%;
    margin: 5rem 4rem;
}
.winTripImage img {
    box-shadow: -1rem 1rem $dandelion;
}

.winTripContent {
    width: 60%;
    margin-top: 5rem;
}

.gallery {
    background: $twilightBlue;
}
.galleryContent {
    display: flex;
}

.galleryContent img {
    margin: 4rem 1rem;
    
}
