// universal links styled here


a.readMore {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    background: $dandelion;
    color: $twilightBlue;
    font-family: 'IM Fell English', serif;
    font-style: italic;
    text-transform: uppercase;
    
}

a.readMore:hover {
    color: $dandelion;
    background: $twilightBlue;
}

a.readMore:focus {
    color: $dandelion;
    background: $twilightBlue;
    border: 1px solid $dandelion;
}